@import "../variables.scss";

.calendar {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  background-color: #f5f5f5;
  color: $secondary-color;
  padding: 1.5rem 2.5rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .event {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: wrap;

    &:hover {
      background-color: $secondary-color;
      color: white;
    }

    .deleteBtn {
      background-color: transparent;
      color: white;
      width: 4px;
      height: 4px;
      border-radius: 50px;
      background-image: url("https://img.icons8.com/ios/50/000000/delete-sign.png");
      background-size: 18px;
      background-position: center;
      background-repeat: no-repeat;
      border: 1px solid black;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: rgb(224, 85, 85);
      }
    }

    .info {
      white-space: nowrap;
      overflow: hidden;
      flex-grow: 1;
    }

    .b {
      padding-right: 4px;
    }
  }

  button {
    background-color: $secondary-button-color;
    color: white;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 20px;

    &:hover {
      background-color: $background-color;
      color: white;
    }
  }

  .fc {
    background-color: rgb(236, 250, 255);
  }

  .fc-event-main {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .dhFC {
    background-color: $secondary-color;
    color: white;
  }

  .addEvent {
    width: 40%;
    margin: 0 auto;
  }
}
