@import "../variables.scss";

.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    input[type="text"],
    input[type="email"],
    textarea {
      margin-top: 5px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    textarea {
      height: 150px;
    }
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: $button-color;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: darken($button-color, 10%);
    }

    &:active {
      outline: none;
      transform: scale(0.9);
    }
  }
}
