.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  text-align: center;
  background: url("/bg.jpg");
  overflow-x: hidden;
  overflow-y: auto;
}
.primaryheading {
  font-size: 3rem;
  color: #9e9e9e;
}
.primarysubheading {
  font-weight: 500;
  color: #fe9e0d;
  font-size: 1.25rem;
  max-width: 90%;
}

.primarytext {
  font-size: 1.5rem;
  max-width: 85%;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
}