$primary-color: #00abe4;
$secondary-color: #102036;
$tertiary-color: #1f1f1f;

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #000000;
  margin: 0;
  padding: 0;
}
