@import "./variables.scss";

.page {
  height: 80vh;
  padding: 30px 5%;

  input {
    width: 500px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1.2rem;
  }

  button {
    width: 100px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1.2rem;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  button:hover {
    background-color: red;
  }

  .videos {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .video {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 45%;
      height: 100%;

      video {
        border: 1px solid #ccc;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
    }
  }
}
