@import "./variables.scss";

.page {
  color: white;
  padding: 1.5rem 2.5rem;
  font-size: 0.8rem;
  border-top: 1px solid #1f4e85;
  height: 100vh;
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 15rem;
}
